@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,600&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.musteri-outside{
  margin-top: 1rem;
  background:#2E8BC0;
  border-radius: 25px;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70vw;
}
.musteri-endis{
  display: flex;
  align-items: center;
  justify-content: center;
}

.musteri-inside {
  color: white;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.musteri-link {
    background: #2E8BC0;
    text-decoration: none;
    color: white;
    font-size : 1.2rem;
    margin-right: 2rem;
    padding: 6px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s all ease-out;
}
.musteri-h3{
  font-weight: bold;
}
.musteri-link:hover{
  background:#B1D4E0;
}
