@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,600&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}


body {
  margin: 0;
  padding: 0;
}

.musteri-inside {
  width : 100%;
  margin-top: 1rem;
  background:#2E8BC0;
  border-radius: 25px;
  height: 4rem;
  color: white;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.musteri-link {
    background: #2E8BC0;
    text-decoration: none;
    color: white;
    font-size : 1.2rem;
    margin-right: 2rem;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s all ease-out;
}
.musteri-bar{
  text-decoration: none;
}
.musteri-h3{
  font-weight: bold;
}
.musteri-link:hover{
  background:#B1D4E0;
}
.singleMusteri-outer{
  display: flex;
  align-items: center;
  justify-content: center;
}
.homepageStacks{
  text-decoration: none;
  color:black;
}
.homepageStacks:hover{
  color:#B1D4E0;
}